@charset "UTF-8";

/* Mobile */
@media screen and (orientation: portrait) {
    * { 
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    html { 
        height: 100vh;
    }
    
    body {
        background: #0d1117;
        background-size: cover;
        background-position: center center;
    }
    
    div#android {
        background-color: white;
        width: 300px;
        border-radius: 5px;
        left: 90px;
        top: 50px;
        position: relative
    }

    div#cordel {
        background-color: white;
        width: 300px;
        border-radius: 5px;
        left: 100px;
        top: 70px;
        position: relative
    }

    h1 {
        text-align: center;
        color: white;
        font-size: 2em;
        text-shadow: 4px 2px 8px gray;
    }   
}